.about-banner {
    margin: 10rem 0;
}



.about-img img{
    border-radius: 75px;
}

.border-style{
    position: relative;
}
.border-style::after {
    content:"";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #292929;
    left:-10px;
    top: 0;
}

.hobby{
    margin: 10rem 0;

    /* Desktop screen viewport */
}
@media screen and (min-width: 576px) {

    .about-img img{
        border-radius: 150px;
        width: 230px;
    }

    .border-style{
        padding-left: 80px;
    }

    .border-style::after {
        content:"";
        position: absolute;
        width: 1px;
        height: 85%;
        background-color: #292929;
        left:0;
        top: 2%;
    }
}