/* Common css */
:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05rem;
    font-size: 10px;
}




body {
    box-sizing: border-box;
    overflow-x: hidden;
    color: #292929;
  }


a {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    font-size: 3rem;
  }


/* header */

.header-content {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}



/* footer */

.footer {
    background-color: #2791BF;
}


