
:root {
    --bs-body-font-family: 'Montserrat', sans-serif;
    --dark-color: #292929;
    letter-spacing: -0.05rem;
    font-size: 10px;
   
}

/* Customize the default colour scheme of Bootstrap */

.bg-primary {
  background-color: #0A446F !important;
}

.bg-info {
background-color: #BEFCD5 !important;
}

.text-dark {
  color: #292929 !important;
}

/* Common Css values */

body {
    box-sizing: border-box;
    overflow-x: hidden;
    color: var(--dark-color);
  }


a {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    font-size: 3rem;
  }


/* header */

.header-content {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}



