.contact {
    margin: 10rem 0;
}



@media screen and (min-width: 576px) {

.contact .container {
    width: 1200px;
}

.contact .container div {
    padding: 2rem 0;
}

.contact-form{
    margin: 2rem 0 0 10rem;
}

.contact-form input {
    width: 500PX;
    border: none;
    border-bottom: 1px solid #292929;

}


.contact-form textarea {
    width: 500PX;
    border: 1px solid #292929;
}
    
}